@tailwind base;
@tailwind components;
@tailwind utilities;





body{
  padding: 0px;
  margin: 0px;
}


.thin-scrollbar::-webkit-scrollbar-track
{
	-webkit-box-shadow: #F8F7FA;
	border-radius: 10px;
	background-color: #F8F7FA;
}

.thin-scrollbar::-webkit-scrollbar
{
	width: 5px;
	background-color: #F8F7FA;
}

.thin-scrollbar::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: #F8F7FA;
	background-color: #F8F7FA;
}